<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/css/style.css" rel="stylesheet">
        <title>SlimDiscogs</title>
    </head>
    <body>
        <div class="index-container">
            <img height="120" width="220" src="/static/images/SlimDiscogs.png"/>
            <form method="POST">
                <label for="search">Search by barcode No. or Album</label>
                <input type="text" name="search">
                <button>Search</button>
            </form>
        </div>
    </body>
</html>